In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import KFold
import warnings
import time
import sys
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.max_columns', 500)
from scipy.stats import mode
from scipy import stats
import feather
import re
import warnings
import random

from IPython.display import clear_output

In [2]:
new_transactions = pd.read_csv('C:\\kdata\\new_merchant_transactions.csv', parse_dates=['purchase_date'])
historical_transactions = pd.read_csv('C:\\kdata\\historical_transactions.csv', parse_dates=['purchase_date'])

In [3]:
merchants = pd.read_csv('C:\\kdata\\merchants.csv')

In [4]:
raw_all_transactions = pd.concat([new_transactions,historical_transactions],axis=0)

In [5]:
raw_all_transactions.merchant_category_id.replace({-1:404},inplace=True)

In [6]:
raw_all_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [15]:
merchantcatidxcard = raw_all_transactions.groupby(['merchant_category_id']).agg({'card_id':'nunique','merchant_id':'nunique'})

In [20]:
merchantcatidxcard

                      card_id  merchant_id
merchant_category_id
2                       32996         2159
9                        7745         1270
11                         23            4
14                       6036          356
16                        739          116
18                          4            2
19                      76334         2858
21                       2421          336
27                         23            6
31                         21            7
33                      11555         1042
34                      35857         3580
36                       1917          286
37                          2            1
38                        914          146
40                      40911         3046
45                      88875         8901
49                         14            7
52                        350           89
53                        615           35
56                       2186           57
57                       3028          484
59                          3            1
60                      13817         1581
63                      51550         5229
67                         14            2
68                     137815        17760
69                       9327         1596
71                       1368          276
78                       7029         1111
...                       ...          ...
803                        85            9
805                         2            1
806                      1758          371
808                       708           25
813                     50031         3827
814                       125            8
817                         6            2
818                     63547         4495
819                       793           97
823                      9007          617
827                      2044          448
829                      6993          111
834                     53693         2214
836                      8975          814
839                     29197          279
840                     46689         2998
842                     94845         5763
843                      4840          634
847                       274           25
854                      2505          635
873                       915          150
875                         1            1
878                        88            4
879                    249373           75
881                        92           22
882                         1            1
884                    156020        12679
885                      3857           85
889                       626           85
891                      5235          587

[331 rows x 2 columns]

In [26]:
for col in merchantcatidxcard:
    merchantcatidxcard[col+'_percent_to_mc_id'] = merchantcatidxcard[col]/merchantcatidxcard[col].sum()

In [35]:
merchantcatidxcard.columns = ['mci'+x for x in merchantcatidxcard]

In [16]:
merchantidxcard = raw_all_transactions.groupby(['merchant_id']).agg({'card_id':'nunique','merchant_category_id':'nunique'})

In [29]:
for col in merchantidxcard:
    merchantidxcard[col+'_percent_to_merchid'] = merchantidxcard[col]/merchantidxcard[col].sum()

In [38]:
merchantidxcard.columns = ['mi_'+x for x in merchantidxcard]

In [39]:
merchantidxcard.head()

,mi_card_id,mi_merchant_category_id,mi_card_id_percent_to_merchid,mi_merchant_category_id_percent_to_merchid
merchant_id,,,,
M_ID_000025127f,7,1,5.418997e-07,0.000002
M_ID_0000699140,50,1,3.870712e-06,0.000002
M_ID_00006a5552,1,1,7.741424e-08,0.000002
M_ID_000087311e,17,2,1.316042e-06,0.000004
M_ID_0000ab0b2d,26,2,2.012770e-06,0.000004

In [36]:
merchantcatidxcard

,mcicard_id,mcimerchant_id,mcicard_id_percent_to_mc_id,mcimerchant_id_percent_to_mc_id
merchant_category_id,,,,
2,32996,2159,4.904329e-03,0.004426
9,7745,1270,1.151171e-03,0.002603
11,23,4,3.418583e-06,0.000008
14,6036,356,8.971551e-04,0.000730
16,739,116,1.098406e-04,0.000238
18,4,2,5.945362e-07,0.000004
19,76334,2858,1.134583e-02,0.005858
21,2421,336,3.598430e-04,0.000689
27,23,6,3.418583e-06,0.000012
31,21,7,3.121315e-06,0.000014
33,11555,1042,1.717466e-03,0.002136
34,35857,3580,5.329571e-03,0.007338
36,1917,286,2.849315e-04,0.000586
37,2,1,2.972681e-07,0.000002
38,914,146,1.358515e-04,0.000299
40,40911,3046,6.080767e-03,0.006244
45,88875,8901,1.320985e-02,0.018246
49,14,7,2.080877e-06,0.000014
52,350,89,5.202191e-05,0.000182
53,615,35,9.140993e-05,0.000072
56,2186,57,3.249140e-04,0.000117
57,3028,484,4.500639e-04,0.000992
59,3,1,4.459021e-07,0.000002
60,13817,1581,2.053677e-03,0.003241
63,51550,5229,7.662085e-03,0.010719
67,14,2,2.080877e-06,0.000004
68,137815,17760,2.048400e-02,0.036405
69,9327,1596,1.386310e-03,0.003272
71,1368,276,2.033314e-04,0.000566
78,7029,1111,1.044749e-03,0.002277
...,...,...,...,...
803,85,9,1.263389e-05,0.000018
805,2,1,2.972681e-07,0.000002
806,1758,371,2.612986e-04,0.000760
808,708,25,1.052329e-04,0.000051
813,50031,3827,7.436310e-03,0.007845
814,125,8,1.857925e-05,0.000016
817,6,2,8.918042e-07,0.000004
818,63547,4495,9.445247e-03,0.009214
819,793,97,1.178668e-04,0.000199
823,9007,617,1.338747e-03,0.001265
827,2044,448,3.038080e-04,0.000918
829,6993,111,1.039398e-03,0.000228
834,53693,2214,7.980607e-03,0.004538
836,8975,814,1.333990e-03,0.001669
839,29197,279,4.339668e-03,0.000572
840,46689,2998,6.939575e-03,0.006145
842,94845,5763,1.409720e-02,0.011813
843,4840,634,7.193887e-04,0.001300
847,274,25,4.072573e-05,0.000051
854,2505,635,3.723283e-04,0.001302
873,915,150,1.360001e-04,0.000307
875,1,1,1.486340e-07,0.000002
878,88,4,1.307980e-05,0.000008
879,249373,75,3.706532e-02,0.000154
881,92,22,1.367433e-05,0.000045
882,1,1,1.486340e-07,0.000002
884,156020,12679,2.318988e-02,0.025990
885,3857,85,5.732815e-04,0.000174
889,626,85,9.304491e-05,0.000174
891,5235,587,7.780992e-04,0.001203

In [40]:
raw_all_transactions = pd.merge(raw_all_transactions,merchantidxcard,how='left',on='merchant_id')

In [41]:
raw_all_transactions = pd.merge(raw_all_transactions,merchantcatidxcard,how='left',on='merchant_category_id')

In [46]:
raw_all_transactions = raw_all_transactions[['card_id'] + list(raw_all_transactions.columns.values[-8:]) + ['state_id','subsector_id']]

In [51]:
raw_all_transactions.state_id.replace({-1:25},inplace=True)
raw_all_transactions.subsector_id.replace({-1:42},inplace=True)

In [61]:
def add_mode(x):
    return mode(x)[0]

In [63]:
groupped = raw_all_transactions.groupby(['card_id']).agg({x:['min','mean','max','std',add_mode] for x in raw_all_transactions if x!='card_id'})

In [64]:
groupped.head()

                mi_card_id                                                \
                       min         mean       max           std add_mode
card_id
C_ID_00007093c1        1.0  3775.291391  239115.0  19671.554417     74.0
C_ID_0001238066        4.0  5367.777027  239115.0  22266.461542    141.0
C_ID_0001506ef0        2.0  8548.059701  239115.0  40796.485182   5221.0
C_ID_0001793786        1.0  7170.582996  239115.0  37320.697354    758.0
C_ID_000183fdda        2.0  9603.025806  239115.0  43233.979446   1140.0

                mi_merchant_category_id                                      \
                                    min      mean   max        std add_mode
card_id
C_ID_00007093c1                     1.0  3.072848  14.0   3.585339      1.0
C_ID_0001238066                     1.0  7.000000  72.0  16.438713      1.0
C_ID_0001506ef0                     1.0  3.597015  26.0   5.648973      1.0
C_ID_0001793786                     1.0  3.105263  76.0   7.639559      1.0
C_ID_000183fdda                     1.0  1.929032  10.0   2.013299      1.0

                mi_card_id_percent_to_merchid                                \
                                          min      mean       max       std
card_id
C_ID_00007093c1                  7.741424e-08  0.000292  0.018511  0.001523
C_ID_0001238066                  3.096570e-07  0.000416  0.018511  0.001724
C_ID_0001506ef0                  1.548285e-07  0.000662  0.018511  0.003158
C_ID_0001793786                  7.741424e-08  0.000555  0.018511  0.002889
C_ID_000183fdda                  1.548285e-07  0.000743  0.018511  0.003347

                          mi_merchant_category_id_percent_to_merchid  \
                 add_mode                                        min
card_id
C_ID_00007093c1  0.000006                                   0.000002
C_ID_0001238066  0.000011                                   0.000002
C_ID_0001506ef0  0.000404                                   0.000002
C_ID_0001793786  0.000059                                   0.000002
C_ID_000183fdda  0.000088                                   0.000002

                                                        mcicard_id  \
                     mean       max       std  add_mode        min
card_id
C_ID_00007093c1  0.000006  0.000029  0.000007  0.000002       3975
C_ID_0001238066  0.000014  0.000148  0.000034  0.000002       4073
C_ID_0001506ef0  0.000007  0.000053  0.000012  0.000002      11352
C_ID_0001793786  0.000006  0.000156  0.000016  0.000002        125
C_ID_000183fdda  0.000004  0.000020  0.000004  0.000002       3028

                                                               mcimerchant_id  \
                          mean     max            std add_mode            min
card_id
C_ID_00007093c1  171033.410596  293019  100041.131494   234923             75
C_ID_0001238066  197541.906040  293019   82197.659645   234923             44
C_ID_0001506ef0  186176.264706  293019  101559.095723   293019             75
C_ID_0001793786  152635.336032  293019   97173.555518   220721              8
C_ID_000183fdda  158774.825806  293019   87640.244036   249632             75

                                                             \
                         mean    max           std add_mode
card_id
C_ID_00007093c1  15437.357616  35239  12040.797066    17843
C_ID_0001238066  17699.926174  35239  11142.299620    17843
C_ID_0001506ef0  18881.941176  35239  13923.607114    35239
C_ID_0001793786  13368.659919  35239  11769.533901    24448
C_ID_000183fdda  11248.187097  35239   8494.249596    15983

                mcicard_id_percent_to_mc_id                                \
                                        min      mean       max       std
card_id
C_ID_00007093c1                    0.000591  0.025421  0.043553  0.014870
C_ID_0001238066                    0.000605  0.029361  0.043553  0.012217
C_ID_0001506ef0                    0.001687  0.027672  0.043553  0.015095
C_ID_0001793786                    0.000019  0.022687  0.043553  0.014443
C_ID_000183fdda                    0.000450  0.023599  0.043553  0.013026

                          mcimerchant_id_percent_to_mc_id                      \
                 add_mode                             min      mean       max
card_id
C_ID_00007093c1  0.034918                        0.000154  0.031644  0.072235
C_ID_0001238066  0.034918                        0.000090  0.036282  0.072235
C_ID_0001506ef0  0.043553                        0.000154  0.038705  0.072235
C_ID_0001793786  0.032807                        0.000016  0.027404  0.072235
C_ID_000183fdda  0.037104                        0.000154  0.023057  0.072235

                                    state_id                           \
                      std  add_mode      min       mean max       std
card_id
C_ID_00007093c1  0.024682  0.036576        2   6.437086  25  9.036648
C_ID_0001238066  0.022840  0.036576        5  11.906040  25  5.431816
C_ID_0001506ef0  0.028541  0.072235        9  18.705882  19  1.702139
C_ID_0001793786  0.024126  0.050115        5  21.761134  25  5.867406
C_ID_000183fdda  0.017412  0.032763        3   4.077419  25  3.905600

                         subsector_id
                add_mode          min       mean max        std add_mode
card_id
C_ID_00007093c1        2            1  20.185430  34   9.262400       19
C_ID_0001238066        9            1  26.375839  39   9.796219       19
C_ID_0001506ef0       19            1  26.176471  37   8.375410       33
C_ID_0001793786       25            1  27.736842  41  10.220316       37
C_ID_000183fdda        3            1  24.019355  38   9.882735       16

In [66]:
groupped.columns = ['_'.join(x) for x in groupped]

In [70]:
feather.write_dataframe(groupped,'merchants_and_city_id\\groupped')