In [49]:
import pandas as pd
import matplotlib as plt
import numpy as np
import datetime

In [2]:
pd.set_option('display.max_columns',999)

In [3]:
def file_head(file):
    with open(file) as csv:
        tabular = []
        for x in range(10):
            tabular.append(csv.readline().strip().split(','))
        return pd.DataFrame(tabular[1:],columns=tabular[0])

In [4]:
!cd data & dir

 Volume in drive H has no label.
 Volume Serial Number is 1425-AB82

 Directory of H:\Kaggle\elo-merchant-category-recommendation\data

12/18/2018  03:22 PM    <DIR>          .
12/18/2018  03:22 PM    <DIR>          ..
12/18/2018  03:08 PM            16,917 Data_Dictionary.xlsx
11/23/2018  09:08 PM     2,845,920,484 historical_transactions.csv
11/23/2018  09:08 PM        50,040,976 merchants.csv
11/23/2018  09:08 PM       190,246,145 new_merchant_transactions.csv
11/23/2018  09:08 PM         2,225,229 sample_submission.csv
11/23/2018  09:08 PM         3,708,740 test.csv
11/23/2018  09:08 PM         8,383,651 train.csv
               7 File(s)  3,100,542,142 bytes
               2 Dir(s)   8,715,476,992 bytes free

merchant_id - Unique merchant identifier<br>
merchant_group_id - Merchant group (anonymized )<br>
merchant_category_id - Unique identifier for merchant category (anonymized )<br>
subsector_id - Merchant category group (anonymized )<br>
numerical_1 - anonymized measure <br>
numerical_2 - anonymized measure <br>
category_1 - anonymized category <br>
most_recent_sales_range - Range of revenue (monetary units) in last active month --> A > B > C > D > E <br>
most_recent_purchases_range - Range of quantity of transactions in last active month --> A > B > C > D > E <br>
avg_sales_lag3 - Monthly average of revenue in last 3 months divided by revenue in last active month <br>
avg_purchases_lag3 - Monthly average of transactions in last 3 months divided by transactions in last active month <br>
active_months_lag3 - Quantity of active months within last 3 months <br>
avg_sales_lag6 - Monthly average of revenue in last 6 months divided by revenue in last active month <br>
avg_purchases_lag6 - Monthly average of transactions in last 6 months divided by transactions in last active month <br>
active_months_lag6 - Quantity of active months within last 6 months <br>
avg_sales_lag12 - Monthly average of revenue in last 12 months divided by revenue in last active month <br>
avg_purchases_lag12 - Monthly average of transactions in last 12 months divided by transactions in last active month <br>
active_months_lag12 - Quantity of active months within last 12 months <br>
category_4 - anonymized category <br>
city_id	City - identifier (anonymized ) <br>
state_id - State identifier (anonymized ) <br>
category_2 - anonymized category<br>

In [5]:
dtps = {'city_id':np.int8,'installments':np.int8,'merchant_category_id':np.int16,'month_lag':np.int8,'state_id':np.int16,'subsector_id':np.int16}
hist_trans = pd.read_csv('data\\historical_transactions.csv',dtype=dtps,parse_dates=[10])
merchants = pd.read_csv('data\\merchants.csv')
merch_trans = pd.read_csv('data\\new_merchant_transactions.csv')

In [50]:
def read_data(input_file):
    df = pd.read_csv(input_file)
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['elapsed_time'] = (datetime.date(2018, 2, 1) - df['first_active_month'].dt.date).dt.days
    return df

In [54]:
train = read_data('data/train.csv')
test = read_data('data/test.csv')

target = train['target']
del train['target']

In [10]:
merch_trans.authorized_flag.replace({'N':2,'Y':1},inplace=True)

In [11]:
merch_trans['makes_unauthorized_trans'] = (merch_trans.authorized_flag == 2)

In [12]:
merch_trans.city_id.replace({-1:404},inplace=True)

In [13]:
merch_trans['unidentified_city'] = merch_trans.city_id == 404

In [14]:
merch_trans.category_1.replace({'Y':1,'N':2},inplace=True)

In [15]:
merch_trans['cat1_no'] = merch_trans.category_1 == 2

In [16]:
merch_trans.installments.replace({-1:404,0:12},inplace=True)

In [17]:
merch_trans['No_installments'] = merch_trans.installments == 404

In [18]:
merch_trans.category_3.fillna(4,inplace=True)

In [19]:
merch_trans.category_3.replace({'A':1,'B':2,'C':3},inplace=True)

In [20]:
merch_trans.merchant_category_id.replace({-1:999},inplace=True)

In [21]:
merch_trans['no_purchase'] = merch_trans.purchase_amount == -1

In [22]:
merch_trans['purchase_bins'] = pd.cut(merch_trans.purchase_amount,16,labels=range(1,17))

In [23]:
merch_trans['purchase_less_than_zero'] = merch_trans.purchase_amount < 0

In [24]:
merch_trans.category_2.fillna(6,inplace=True)

In [25]:
merch_trans['No_cat2'] = merch_trans.category_2 == 6

In [26]:
merch_trans.state_id.replace({-1:25},inplace=True)

In [27]:
merch_trans['No_state_id'] = merch_trans.state_id==25

In [28]:
merch_trans.subsector_id.replace({-1:42},inplace=True)

In [29]:
merch_trans['No_subsector_id'] = merch_trans.subsector_id==42

In [30]:
merch_trans.purchase_date = merch_trans.purchase_date.astype(np.datetime64)

In [31]:
kwords = ['year','dayofweek','month','hour','is_month_end','is_month_start']
for x in kwords:
    merch_trans['pdate_'+x] = getattr(merch_trans.purchase_date.dt,x)

In [32]:
merch_trans.pdate_dayofweek += 1

In [33]:
merch_trans.pdate_month += 1

In [34]:
merch_trans['Is_a_weekend'] = merch_trans.pdate_dayofweek > 5

In [35]:
num_of_merchant = merch_trans.groupby(['city_id',])['merchant_id'].nunique()

In [36]:
def bfunc(x):
    for pair in [(10000,1),(7000,2),(4000,3),(1000,4),(700,5),(300,6),(0,7)]:
        if x > pair[0]:
            return pair[1]
        
reps = {x:bfunc(y) for x,y in num_of_merchant.iteritems()}

In [37]:
reps[404] = 8

In [39]:
hist_trans

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37
5,Y,C_ID_4e6213e9bc,77,N,0,A,80,M_ID_50af771f8d,0,-0.734887,2018-02-24 08:45:05,1.0,9,37
6,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_5e8220e564,-11,-0.716855,2017-03-21 00:10:51,1.0,16,37
7,Y,C_ID_4e6213e9bc,3,N,0,A,80,M_ID_9d41786a50,-3,-0.657049,2017-11-18 20:05:55,1.0,16,37
8,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-8,-0.737967,2017-06-01 22:02:56,1.0,16,37
9,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_74ba14b5fc,-11,-0.715352,2017-03-16 15:41:22,1.0,16,37
10,Y,C_ID_4e6213e9bc,88,N,0,A,683,M_ID_1449f22bfb,-9,-0.734135,2017-05-09 12:42:07,1.0,16,34
11,Y,C_ID_4e6213e9bc,-1,N,0,A,560,M_ID_7c5e93af2f,0,-0.727929,2018-02-08 20:05:45,NaN,-1,34
12,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.741649,2017-06-08 18:02:29,1.0,16,37
13,Y,C_ID_4e6213e9bc,88,N,0,A,130,M_ID_e8fb39882d,-7,-0.727373,2017-07-14 12:59:38,1.0,16,41
14,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_97e86eae5f,-4,-0.731881,2017-10-24 13:29:29,1.0,16,37
15,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-8,-0.738192,2017-06-14 07:40:48,1.0,16,34
16,Y,C_ID_4e6213e9bc,69,N,0,A,879,M_ID_00a6ca8a8a,0,-0.725871,2018-02-07 12:19:33,1.0,9,29
17,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_21e1552dab,-7,-0.734887,2017-07-07 13:03:27,1.0,16,37
18,Y,C_ID_4e6213e9bc,-23,N,0,A,80,M_ID_4524a562f3,-1,-0.699725,2018-01-08 23:54:29,1.0,9,37
19,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-6,-0.745405,2017-08-11 17:53:00,1.0,16,37
20,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_21e1552dab,-6,-0.734887,2017-08-30 12:53:57,1.0,16,37
21,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-7,-0.737967,2017-07-01 21:27:23,1.0,16,37
22,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-7,-0.739545,2017-07-14 22:06:02,1.0,16,37
23,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_e020e9b302,-9,-0.726998,2017-05-06 12:29:50,1.0,16,37
24,Y,C_ID_4e6213e9bc,3,N,0,A,511,M_ID_79db784180,-13,-0.731881,2017-01-20 09:16:43,1.0,16,7
25,Y,C_ID_4e6213e9bc,77,N,0,A,80,M_ID_50af771f8d,0,-0.735638,2018-02-26 14:54:38,1.0,9,37
26,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_e020e9b302,-10,-0.726472,2017-04-29 12:30:03,1.0,16,37
27,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-8,-0.726772,2017-06-23 21:43:17,1.0,16,37
28,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_21e1552dab,-11,-0.721363,2017-03-10 15:46:19,1.0,16,37
29,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_dc7356f06d,-6,-0.692211,2017-08-05 19:10:32,1.0,16,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112331,Y,C_ID_e43fce4842,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.744774,2017-07-12 18:01:13,1.0,9,29
29112332,Y,C_ID_e43fce4842,-1,Y,10,C,544,M_ID_3111c6df35,-6,-0.040692,2017-08-03 15:06:50,NaN,-1,29
29112333,Y,C_ID_112832329d,-1,Y,8,C,210,M_ID_cfa9a773ca,0,0.502952,2018-01-29 15:08:56,NaN,-1,35
29112334,Y,C_ID_112832329d,-1,Y,4,C,210,M_ID_6464db3b45,-1,0.506889,2017-12-11 19:03:31,NaN,-1,35
29112335,Y,C_ID_2a8874827b,19,N,0,A,307,M_ID_0bd214d6c8,-1,-0.681542,2017-01-06 14:54:55,1.0,9,19
29112336,Y,C_ID_2a8874827b,19,N,0,A,607,M_ID_b98db225f5,0,-0.708891,2017-02-07 16:02:48,1.0,9,29
29112337,Y,C_ID_5c356aa384,20,N,0,A,307,M_ID_69c092c26e,-1,-0.596643,2017-12-05 12:38:59,3.0,19,19
29112338,Y,C_ID_5c356aa384,74,N,0,A,705,M_ID_b872abf8ca,-3,-0.550316,2017-10-07 20:00:40,3.0,17,33
29112339,Y,C_ID_5c356aa384,69,N,0,A,879,M_ID_00a6ca8a8a,-3,-0.605659,2017-10-02 00:35:15,1.0,9,29
29112340,Y,C_ID_f9f906a4a2,-1,Y,1,B,661,M_ID_fc7d7969c3,-1,-0.704984,2018-01-01 18:33:46,NaN,-1,8
29112341,Y,C_ID_f9f906a4a2,-1,Y,1,B,661,M_ID_fc7d7969c3,0,-0.704984,2018-02-01 18:06:30,NaN,-1,8
29112342,Y,C_ID_f9f906a4a2,-1,Y,1,B,661,M_ID_fc7d7969c3,-2,-0.745405,2017-12-24 00:19:52,NaN,-1,8
29112343,Y,C_ID_5cf3187742,21,N,0,A,278,M_ID_4b5760f37b,-3,-0.666065,2017-11-26 02:27:39,4.0,13,37
29112344,Y,C_ID_5cf3187742,21,N,0,A,68,M_ID_9a72bcd3b4,-2,-0.686817,2017-12-30 19:36:04,4.0,13,27
29112345,Y,C_ID_5cf3187742,21,N,0,A,367,M_ID_bf86e8edcd,-5,-0.735638,2017-09-23 22:42:58,4.0,13,16
29112346,Y,C_ID_803aa0aed4,30,N,0,A,705,M_ID_1ada7c0ceb,0,-0.718523,2018-02-20 14:18:46,3.0,17,33
29112347,Y,C_ID_803aa0aed4,74,N,0,A,705,M_ID_393b4b8cec,-8,-0.702504,2017-06-01 16:55:08,3.0,17,33
29112348,Y,C_ID_803aa0aed4,69,N,0,A,879,M_ID_00a6ca8a8a,-9,-0.724067,2017-05-20 16:55:17,1.0,9,29
29112349,Y,C_ID_62df280b20,-1,Y,2,C,489,M_ID_244299ea12,-2,1.363355,2017-09-18 20:35:39,NaN,-1,16
29112350,Y,C_ID_62df280b20,-1,Y,2,C,489,M_ID_244299ea12,-3,0.032638,2017-08-08 14:36:26,NaN,-1,16
29112351,Y,C_ID_62df280b20,-88,N,2,C,506,M_ID_aa18020893,-3,-0.612631,2017-08-29 11:43:46,1.0,9,30
29112352,Y,C_ID_62df280b20,24,N,3,C,87,M_ID_94f6f392c4,-3,-0.459451,2017-08-29 11:28:25,1.0,9,27
29112353,Y,C_ID_e49b1996b0,11,N,1,B,705,M_ID_b692f6f5d1,-2,-0.618747,2017-12-29 14:43:53,2.0,23,33
29112354,Y,C_ID_e49b1996b0,-1,Y,1,B,550,M_ID_09d7a200d1,-1,-0.656749,2018-01-23 01:52:28,NaN,-1,3
29112355,Y,C_ID_e49b1996b0,11,N,1,B,130,M_ID_ea5d727248,0,-0.694315,2018-02-07 18:17:01,2.0,23,41
29112356,Y,C_ID_2863d2fa95,-1,Y,1,B,360,M_ID_edd92b6720,-1,-0.632706,2017-01-20 08:52:04,NaN,-1,34
29112357,Y,C_ID_2863d2fa95,-1,Y,1,B,360,M_ID_edd92b6720,0,-0.632706,2017-02-20 04:40:50,NaN,-1,34
29112358,Y,C_ID_5c240d6e3c,3,N,0,A,278,M_ID_9cdcfe8673,0,-0.657740,2017-12-26 18:37:51,1.0,16,37
29112359,Y,C_ID_5c240d6e3c,75,N,0,A,514,M_ID_1a75f94f92,-1,0.770620,2017-11-24 14:18:15,1.0,16,9
29112360,Y,C_ID_5c240d6e3c,75,N,0,A,514,M_ID_1a75f94f92,-2,1.134411,2017-10-26 14:09:40,1.0,16,9

In [40]:
hist_trans.installments.replace({-1:13,-25:25},inplace=True)

In [41]:
hist_trans.category_2.fillna(6,inplace=True)

In [42]:
hist_trans.category_3.fillna(4,inplace=True)

In [43]:
hist_trans.category_3.replace({'A':1,'B':2,'C':3},inplace=True)

In [45]:
cat1dm = pd.get_dummies(hist_trans.category_1,prefix='cat1')

In [46]:
aufdm = pd.get_dummies(hist_trans.authorized_flag,prefix='au')