In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb

import feather
import warnings
import time
import sys
import datetime
import re
import gc

from sklearn.model_selection import KFold
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.max_columns', 500)

from scipy.stats import mode
from scipy import stats
from sklearn import preprocessing


from IPython.core.display import display, HTML

In [2]:
all_transactions = feather.read_dataframe('all_transactions')

In [3]:
train = pd.read_csv('C:\\kdata\\train.csv')
test = pd.read_csv('C:\\kdata\\test.csv')

In [4]:
test.head()

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [6]:
del train['target']

In [8]:
all_info = pd.concat([train,test],axis=0)

In [9]:
all_info

       first_active_month          card_id  feature_1  feature_2  feature_3
0                 2017-06  C_ID_92a2005557          5          2          1
1                 2017-01  C_ID_3d0044924f          4          1          0
2                 2016-08  C_ID_d639edf6cd          2          2          0
3                 2017-09  C_ID_186d6a6901          4          3          0
4                 2017-11  C_ID_cdbd2c0db2          1          3          0
5                 2016-09  C_ID_0894217f2f          4          2          0
6                 2016-12  C_ID_7e63323c00          3          2          1
7                 2017-09  C_ID_dfa21fc124          3          2          1
8                 2017-08  C_ID_fe0fdac8ea          2          1          0
9                 2016-08  C_ID_bf62c0b49d          2          2          0
10                2016-10  C_ID_92853cdb2c          5          2          1
11                2016-03  C_ID_269d816788          2          2          0
12                2017-09  C_ID_61d50d7057          5          2          1
13                2017-04  C_ID_4e07413433          2          1          0
14                2017-08  C_ID_b6302b31c6          3          2          1
15                2017-02  C_ID_3b69154173          2          1          0
16                2016-07  C_ID_9feec11e78          2          2          0
17                2016-12  C_ID_f6658dbefe          4          2          0
18                2017-11  C_ID_4a7dda0f9e          2          1          0
19                2017-01  C_ID_6adae2a906          4          1          0
20                2017-09  C_ID_0b70ca7347          5          2          1
21                2016-06  C_ID_25b2509282          1          2          0
22                2017-09  C_ID_82fb11db22          2          2          0
23                2017-10  C_ID_e03db05bde          2          2          0
24                2015-10  C_ID_dcb7c76747          5          1          1
25                2016-04  C_ID_749cfc0c3a          2          2          0
26                2017-07  C_ID_4a97126360          2          3          0
27                2017-09  C_ID_17dea8d446          3          3          1
28                2016-01  C_ID_fcef0dfd67          5          1          1
29                2016-06  C_ID_82868156f0          5          2          1
...                   ...              ...        ...        ...        ...
123593            2016-07  C_ID_cd42a5db89          2          2          0
123594            2017-08  C_ID_715b9a183d          3          2          1
123595            2017-11  C_ID_9b25df3309          2          2          0
123596            2017-02  C_ID_043b3c2ccd          3          2          1
123597            2017-01  C_ID_7685eae7b2          3          2          1
123598            2017-11  C_ID_7ee1a21a95          4          1          0
123599            2017-09  C_ID_2bf12fed6b          2          3          0
123600            2016-12  C_ID_2932a6ea37          1          3          0
123601            2017-09  C_ID_cc33d0d508          2          1          0
123602            2017-01  C_ID_8852708dcb          4          3          0
123603            2017-11  C_ID_c3e88ef62d          1          1          0
123604            2017-10  C_ID_650557248c          2          1          0
123605            2017-05  C_ID_f14af9cb56          1          1          0
123606            2017-07  C_ID_068dcf31e8          5          1          1
123607            2017-12  C_ID_6659f4625a          3          2          1
123608            2016-12  C_ID_dc842bba27          3          2          1
123609            2016-12  C_ID_bd625edce0          3          3          1
123610            2017-05  C_ID_278446cc2f          3          3          1
123611            2016-08  C_ID_ad358eb92e          5          2          1
123612            2016-04  C_ID_7d9bcec574          3          2          1
123613            2015-11  C_ID_b588b35e15          3          3          1
123614            2017-01  C_ID_7147e348c3          5          2          1
123615            2014-12  C_ID_727d3ec5da          5          1          1
123616            2017-05  C_ID_107d93e20c          4          1          0
123617            2016-10  C_ID_0e74bd4966          3          2          1
123618            2017-10  C_ID_7a239d2eda          2          2          0
123619            2017-09  C_ID_75ace375ae          3          1          1
123620            2016-09  C_ID_21d56d950c          5          1          1
123621            2017-06  C_ID_6c46fc5a9d          2          1          0
123622            2016-10  C_ID_87e7979a5f          5          1          1

[325540 rows x 5 columns]